.card__container {
  position: relative;
  background: #e2e2e2;
  width: 314px;
  padding: 30px 10px;


  h3 {
    margin: 0;
    text-align: center;
  }
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;

  svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}



