.confirmation__container {
  position: fixed;
  padding: 0;
  margin: 0;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 3s ease-in-out;
  z-index: 5;


}

.confirmation__box {
  position: relative;
  width: 350px;
  background: white;
  border-radius: 5px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap:2rem;
  text-align: center;

  }

  .confirmation-btns {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    



   button {
     cursor: pointer;
     padding: 10px;
     border-radius: 5px;
     border: 0 ;
     color:white;


     &:first-child {
         color: black;
    }
  
    &:last-child {
        background: #c50101;
    }
   }
 }


